@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    --main-width: min(98vw, 1320px);

    --green: #596D48;
    --off-white: #f9fafb;
    --light-grey: #E5E7EB;
}

html, body {
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.content {
    height: 100%;
    width: var(--main-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logoContainer {
    position: relative;
    z-index: 2;
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 37.1212%;
    height: 100%;
    background-image: url(background.jpg);
    background-size:contain;
    background-size: cover;
    background-position: center;
    color: white;
}

.logoBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
    width: 100%;
    margin-top: min(25vh, 205px);
    background-color: rgba(0, 0, 0, .42);
}

.logo {
    width: auto;
    display: flex;
    align-items: center;
    padding: 2px 2px 0 0;
}

.logoImg {
    height: 117px;
}

.logoText {
    font-family: Norse-Bold;
    font-size: 88px;
    font-weight: 100;
    margin: 0;
    padding-top: 1px;
}

.logoFooter {
    margin: auto 0 12px 0;
    font-size: 12px;
}

.footerLink {
    color: white;
}

.formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formHeader {
    width: 100%;
    flex: 1;
    background-color: var(--off-white);
}

.inputContainer {
    width: 100%;
}

.shadow {
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 5px var(--light-grey);
}

.submitContainer {
    width: 100%;
    flex: 1;
    background-color: var(--off-white);
}