@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    --main-width: min(98vw, 1320px);

    --green: #596D48;
    --off-white: #f9fafb;
    --light-grey: #E5E7EB;
    --med-grey: #dddedf;
}

html, body {
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
        "Segoe UI Symbol";

}

.content {
    height: 100%;
    width: var(--main-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logoContainer {
    position: relative;
    z-index: 1;
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 37.1212%;
    height: 100%;
    background-image: url(background.jpg);
    background-size:contain;
    background-size: cover;
    background-position: center;
    color: white;
}

.logoBar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 138px;
    width: 100%;
    margin-top: min(25vh, 205px);
    background-color: rgba(0, 0, 0, .42);
}

.logo {
    width: auto;
    display: flex;
    align-items: center;
    padding: 2px 2px 0 0;
}

.logoImg {
    height: 117px;
}

.logoText {
    font-family: Norse-Bold;
    font-size: 88px;
    font-weight: 100;
    margin: 0;
    padding: 2px 2px 0 0;
}

.logoFooter {
    margin: auto 0 12px 0;
    font-size: 12px;
}

.footerLink {
    color: white;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formHeader {
    width: 100%;
    min-height: 340px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    background-color: var(--off-white);
}

.formHeader p {
    flex: 0 1 650px;
    padding: 2.5rem;
    margin: 16px 0;
    font-size: 1.3rem;
    font-weight: 600;
}

.inputContainer {
    width: 100%;
    position: relative;
    box-shadow: -3px 5px 5px var(--med-grey);
}

.inputContainer h2 {
    padding: 0 0 0 2.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.inputFlex {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 2.5rem 1.5rem;
}

.inputFlex div {
    display: flex;
    flex-wrap: wrap;
}

.inputFlex > div > div:first-of-type {
    margin: 0 4rem 0 0;
}

label {
    position: absolute;
    font-size: .7rem;
    letter-spacing: .1rem;
}

input {
    margin: 16px 0 24px;
    padding: .25rem;
    font-size: 1rem;
    border-radius: .25rem;
    box-shadow: none;
    border: 1px solid black;
}

.submitContainer {
    width: 100%;
    flex: 1;
    background-color: var(--off-white);
}